C:\microchip\harmony\v2_06\apps\MINF\TP\MINF-TP2-MR-AZ\firmware\MINF-TP2-MR-AZ.X\build
firmware/MINF-TP1-CM-AZ.X/dist/default/production
firmware/MINF-TP2-MR-AZ.X/dist/default/production/MINF-TP2-MR-AZ.X.production.elf
firmware/MINF-TP2-MR-AZ.X/dist/default/production/MINF-TP2-MR-AZ.X.production.map
